@if (!questions.length){
  <main class="w-100 min-vh-100 d-flex flex-column p-5">
    <!-- Hidden Form Fields -->
    <div class="d-flex flex-column mb-4 text-center text-white">
      <h1 class="mb-1 h3 fw-bold">Interview Guidelines</h1>
      <small>Please read the instructions carefully before beginning your interview.</small>
    </div>
    <form [formGroup]="setupForm" (ngSubmit)="generateQuestions()">
      <div class="hidden">
        <input type="hidden" formControlName="job_title" /> 
        <input type="hidden" formControlName="job_description" /> 
        <input type="hidden" formControlName="duration" /> 
        <input type="hidden" formControlName="experience" /> 
        <input type="hidden" formControlName="required_skills" /> 
        <input type="hidden" formControlName="candidate_skills" /> 
      </div>
      <!-- Start Interview Section --> 
      <div class="text-center">
        <ul class="instructions list-unstyled row g-3">
          @for (item of instructions; track $index) {
            <li class="col-xl-3 col-lg-4 col-sm-6">
              <div class="d-flex flex-column align-items-center instruction-block blur shadow">
                <img [src]="item.img" width="64" height="64" [alt]="item.title" />

                <div class="d-flex flex-column align-items-start ms-3 text-center">
                  <h6 class="mb-2 mt-4 w-100 text-center fw-bold">{{ item.title }}</h6>
                  <p class="m-0 text-center" [innerHTML]="item.text"></p>
                </div>
              </div>
            </li>
          }
        </ul>
        <button type="submit" [disabled]="loadingGenerate" class="mt-3 btn btn-primary btn-lg w-25 text-uppercase fw-medium fs-6"> {{ loadingGenerate ? 'Generating...' : 'Get Started' }} </button> 
      </div>
    </form>
  </main>
}
<!-- ====================== INTERVIEW SECTION ====================== --> 
@if (questions.length){
  <main class="w-100 h-100">
    <div class="row h-100 flex-grow-1 m-0">
      <!-- LEFT -->
      <div class="col-9 h-100 ps-3">
        <div class="row h-100">

          <!-- HEADER -->
          <header class="col-12 d-flex align-items-center justify-content-center">
            <h2 class="text-center text-white m-0">AI Technical Interview - {{ user_info?.data?.job_title }} </h2>
          </header>

          <!-- VIDEOS BLOCK -->
          <div class="col-12 flex-grow-1 ai-user-wrapper">
            <div class="row h-100">
              <!-- AI BLOCK -->
              <div class="col-7 flex-grow-1">
                <div class="ai-wrapper w-100 h-100 rounded-5 position-relative bg-white overflow-hidden">
                  <!-- AI AVATAR -->
                  <app-avatar-viewer class="d-flex w-100 h-100" style="background:rgba(255, 255, 255, 0.25)" #avatar></app-avatar-viewer>
                  <!-- Question Display -->
                  <div class="position-absolute start-50 qtn-ans-wrapper blur-bg text-white text-center rounded-5 d-flex align-items-center justify-content-center">
                    <small class="blur-bg p-2">Q.{{ currentIndex + 1 }}</small>
                    {{ questions[currentIndex]?.question }}
                    <!-- <div class="animated-question">
                      {{ displayedQuestion }}
                      @if (displayedQuestion.length < (questions[currentIndex]?.question?.length || 0)){
                        <span class="cursor-blink">|</span>
                      }
                    </div> -->
                  </div>
                </div>
              </div>

              <!-- USER BLOCK -->
              <div class="col-5 flex-grow-1">
                <div class="user-wrapper w-100 h-100 rounded-5 position-relative bg-white p-2">
                  <!-- Answer Textarea (Live Speech Display) -->
                  <textarea #typedAnswer [(ngModel)]="finalTranscript" class="d-none"></textarea> 
                
                  <!-- Live Transcript Info --> 
                  @if (interimTranscript || finalTranscript){
                    <div class="position-absolute translate-middle start-50 qtn-ans-wrapper blur-bg text-white text-center rounded-5">
                      @if (interimTranscript) {
                        {{ interimTranscript }}
                      }
                      @if (finalTranscript) {
                        {{ finalTranscript }}
                      }
                    </div>
                  }
                  <!-- Camera Preview -->
                  <div class="user-video-container w-100 h-100 ratio ratios-1x1">
                    <video #video autoplay playsinline muted></video>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <footer class="col-12 d-flex align-items-center justify-content-between gap-3">
            <div>
              <small class="blur-bg rounded-5 px-2 py-1 me-2 text-white">Questions: {{ currentIndex + 1 }} / {{ questions.length }}</small>
              @if (recording) {
                <small class="inline-block text-white px-2 py-1 rounded-5 bg-success">🎙️ Listening... Please speak your answer</small>
              } @else {
                <small class="inline-block text-white px-2 py-1 rounded-5 bg-secondary">Waiting for next question...</small>
              }
              <!-- <small class="blur-bg rounded-5 px-2 py-1 ms-2 text-white">⏳ Idle Time {{ timeLeft }}s</small> -->
            </div>
            <button class="logout-btn" data-bs-toggle="modal" data-bs-target="#endCallModal">Logout</button>
          </footer>

        </div>
      </div>
      <!-- RIGHT -->
      <div class="col-3 h-100 py-3 pe-3">
        <div class="card h-100 rounded-5">
          <div class="card-body h-100 p-2">
            <div class="candidate-info bg-black p-4 text-white d-flex align-items-center gap-3">
              <span class="rounded-circle primary-bg-color">CN</span>
              <div class="d-flex flex-column">
                <h5 class="mb-1 fw-bold">Candidate Name</h5>
                <small>Candidate Designation</small>
              </div>
            </div>
            
            <div class="summary-wrapper p-2">
              <h6 class="fw-bold mb-2">Summary</h6>
              <ul class="list-unstyled h-100 overflow-auto d-flex flex-column m-0">
                @for (item of summary; track $index) {
                  <li class="summary-qtn"><strong>Ai Interviewer:</strong> {{ item.question_text }}</li>
                  <li class="summary-ans pb-2 mb-2"><strong>Candidate:</strong> {{ item.answer_text }}</li>
                }
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
}



  <!-- END CALL / LOGOUT MODAL -->
  <div class="modal fade" id="endCallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center p-5">
          <video src="/img/alert.mp4" autoplay muted loop width="120" height="120"></video>
          <h5 class="fw-bold my-3">End Call?</h5>
          <small>You're about to end this interview call, this action cannot be undone.</small>
          <div class="d-flex align-items-center justify-content-center gap-3 mt-5">
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-dismiss="modal">No, Continue</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="logout()">Yes, End Call</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- SUCCESS MODAL -->
  <div class="modal fade" id="successModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center p-5 d-flex flex-column align-items-center">
          <video src="/img/success.mp4" autoplay loop width="120" height="120"></video>
          <h5 class="fw-semibold text-green my-3">Interview Successfully Completed!</h5>
          <small>Thank you, [Name Here]! We appreciate your time and effort in completing the interview.</small>
          <small class="my-4 text-start w-100">
            <ul class="list-unstyled m-0">
              <h6>What's Next?</h6>
              <li>- Our team will carefully review your application.</li>
              <li>- Expect an update within 5-7 business days.</li>
            </ul>
          </small>
          <small class="text-start">If you have any questions, feel free to reach out. We look forward to connecting with you soon!</small>

          <button type="button" class="btn btn-success w-50 mt-5" (click)="logout()">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- PROXY MODAL -->
  <div class="modal fade" id="proxyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center p-5 d-flex flex-column align-items-center">
          <video src="/img/error.mp4" autoplay loop width="120" height="120"></video>
          <h5 class="fw-semibold text-danger2 my-3">Interview Terminated</h5>
          <small>
            Dear [Name Here],
            <br><br>
            Your interview has been automatically ended due to a violation of the instructions.
            <br><br>
            If you believe this was an error or need further assistance, please contact our support team.
          </small>

          <button type="button" class="btn btn-danger w-50 mt-5" (click)="logout()">Close</button>
          <small>Redirecting in <strong>{{ countdown }}</strong> seconds...</small>
        </div>
      </div>
    </div>
  </div>


  <!-- TIMEOUT MODAL -->
  <div class="modal fade" id="timeOutModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center p-5 d-flex flex-column align-items-center">
          <video src="/img/time.mp4" autoplay loop width="120" height="120"></video>
          <h5 class="fw-semibold text-purple my-3">Session Timed Out!</h5>
          <small>Dear [Name Here], Your interview session has ended as the allotted time has expired.</small>
          <small class="my-4 text-start w-100">
            <ul class="list-unstyled m-0">
              <h6>What's Next?</h6>
              <li>- Our team will carefully review your application.</li>
              <li>- Expect an update within 5-7 business days.</li>
            </ul>
          </small>
          <small class="text-start">If you have any questions, feel free to reach out. We look forward to connecting with you soon!</small>

          <button type="button" class="btn btn-danger w-50 mt-5" (click)="logout()">Close</button>
        </div>
      </div>
    </div>
  </div>