:root{
    --primary-text-color: #020213;
    --secondary-text-color: #293951;
    --primary-color: #605DFF;
}

.purple-text-color{color: var(--primary-color);}
.primary-text-color{color: var(--primary-text-color);}
.secondary-text-color{color: var(--secondary-text-color);}

.text-green{color: #0CA678;}
.text-danger2{color: #FA5252;}
.text-purple{color: #605DFF;}


.primary-bg-color{background-color: var(--primary-color);}

.h-80{height: 80% !important;}
.h-85{height: 85% !important;}
.h-90{height: 90% !important;}
.h-95{height: 95% !important;}


html,
body {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body{
    background: #101A25;
    position: relative;

    &::before{
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url(/img/bg.png) no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.45;
        z-index: -1;
    }
}


.gradient-text{background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;}




